/* *,
*::before,
*::after {
  box-sizing: border-box;
  color: currentcolor;
  font: unset;
  line-height: unset;
  vertical-align: baseline;
} */

[role="presentation"],
:disabled {
  pointer-events: none;
}

:focus {
  outline: 1px solid #fff;
}

@supports selector(: focus-visible) {
  :focus {
    outline: none;
  }
}

:focus-visible {
  outline: 1px solid;
}

:target {
  scroll-margin-block: 1rlh;
}

/* html {
  font-size: 0.625em;
  line-height: 1.5;
  text-size-adjust: none;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
  text-rendering: geometricprecision;
} */

/* blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label {
  line-height: 1.1;
}

a:not([class]) {
  color: currentcolor;
  text-decoration-skip-ink: auto;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

img,
picture {
  display: block;
  max-width: 100%;
} */

#AudioPlayerFull button,
input[type="button"],
input[type="checkbox"],
input[type="radio"],
select {
  cursor: pointer;
}

#AudioPlayerFull button {
  appearance: unset;
  background: unset;
  border: unset;

  :active {
    outline: unset;
  }
}

#AudioPlayerFull ul[class],
#AudioPlayerFull ol[class] {
  list-style-type: none;
  margin: unset;
  padding: unset;
}

#AudioPlayerFull button svg {
  aspect-ratio: 1;
  height: 2rem;
}

input[type="range"] {
  background-color: transparent;
  appearance: none;
  border-radius: 0.3rem;
  grid-area: progress;
  overflow: hidden;
  height: 5px;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: rgb(197, 197, 197);
  height: 5px;
}

input[type="range"]::-moz-range-track {
  background-color: rgb(197, 197, 197);
  border-radius: 0.3rem;
  height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  background-color: red;
  box-shadow: -100vw 0 0 100vw red;
  height: 5px;
  width: 2px;
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: red;
  box-shadow: -100vw 0 0 100vw #fff;
  height: 5px;
  width: 2px;
}

input[type="range"]::-webkit-progress-value {
  background-color: green;
  border-radius: 0.3rem;
}

.song {
  display: grid;
  grid-template:
    "title action" auto
    "artist action" auto
    / 1fr max-content;
}

.song .action {
  grid-area: action;
}

.song .artist {
  grid-area: artist;
  font-size: 0.66em;
  opacity: 0.66;
  text-transform: uppercase;
}

.song .link {
  text-decoration: none;
}

.player {
  width: 100%;
}

.player .link:hover {
  text-decoration: underline;
}

.song .title {
  grid-area: title;
}

.player {
  display: grid;
  gap: 0.5rem;
  grid-template:
    "song song song song song song" auto
    "prev play next time progress volume" auto
    / max-content max-content max-content max-content 1fr max-content;
  padding: 1rem;
  border-radius: 0.5rem;
  color: black;
  background-color: #F7F7F7;
  margin: 1rem;
  border: 1px solid gray;
}

.player .song {
  grid-area: song;
}

.player .prev {
  grid-area: prev;
}

.player .play {
  grid-area: play;
}

.player .next {
  grid-area: next;
}

.player .time {
  align-self: center;
  font-size: 12px;
  opacity: 0.66;
  grid-area: time;
}

.player .progress {
  grid-area: progress;
  margin-top: 15px;
}

.player .volume {
  display: flex;
  align-items: center;
  grid-area: volume;
}

ul.songs {
  border-radius: 0.5rem;
  margin: 1rem;
  overflow: hidden;
}

.songs .song {
  background-color: #eee;
  padding: 1rem;
}

.songs .song--current {
  background-color: lightgreen;
}

.songs .song:not(:last-child) {
  border-bottom: 3px solid #fff;
}
