[data-rbd-droppable-id="all-column"] > div {
  pointer-events: none !important;
}


[data-rbd-droppable-id="all-column"] > div:not(:first-child) {
  height: 62px !important;
  overflow: hidden;
}

.css-vdxbps {
  pointer-events: auto !important;
}

.dnd-items {
  display: flex;
}